.checkout-item-container {
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans Condensed";
  border-bottom: 1px solid darkgrey;
}

.checkout-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.total-sum-container {
  font-size: 1.5rem;
  font-family: "Open Sans Condensed";
  display: flex;
  justify-content: right;
  padding-top: 50px;
  padding-right: 50px;
}

.total-sum {
  font-weight: 500;
}

.light-sum {
  font-weight: 300;
}

.no-items {
  font-family: "Open Sans Condensed";
  font-size: 2rem;
}

.no-items {
  display: flex;
  padding-top: 90px;
  justify-content: center;
  align-items: center;
}

.name {
  width: 30%;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 100px;
  align-items: center;
  padding-bottom: 0;
  font-family: "Open Sans Condensed";
  font-size: 18px;
}

.no-items-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;

  .no-items {
    font-size: 1.5rem;
    color: #999;
  }

  .checkout-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    thead {
      background-color: #f7f7f7;
    }

    th,
    td {
      padding: 12px 8px;
      text-align: left;
      border-bottom: 1px solid #e0e0e0;
    }

    tr.checkout-item-container {
      &:hover {
        background-color: #f0f0f0;
      }
    }

    .image-container {
      img {
        width: 100px;
        height: auto;
        display: block;
        margin: 0 auto;
      }
    }

    .name,
    .price {
      font-size: 1rem;
      color: #333;
    }

    button {
      padding: 6px 12px;
      cursor: pointer;
      border: none;
      background-color: transparent;
      color: black;
      transition: background-color 0.3s;
    }

    .remove-button {
      color: #ff0000;
      background-color: transparent;

      .end {
        font-size: 1.2rem;
      }
    }
  }
}
